<div id="toast-container" class="app-toast-container">
  <% if notice.present? %>
    <%= render "shared/toast", message: notice, type: "success" %>
  <% end %>

  <% if alert.present? %>
    <%= render "shared/toast", message: alert, type: "alert" %>
  <% end %>
</div>
